<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${newUser}">
    <label for="name">Имя пользователя: </label>
    <input text="text" th:field="*{name}" id="name">
    <br>
    <label for="lastName">Фамилия пользователя </label>
    <input text="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="age">Возраст пользователя</label>
    <input text="text" th:text="*{age}" id="age">
    <br>
    <label for="email">"Электронная почта пользователя</label>
    <input text="text" th:text="*{email}" id="email">
    <br>
    <br>
    <input type="submit" value="Создать"/>
</form>

</body>
</html>